In [21]:
import pandas as pd

In [22]:
players = pd.read_csv('data/interim/all_player_stats_00-24.csv')
all_stars = pd.read_csv('data/interim/allstar_stats_00-24.csv')

In [30]:
all_stars

              Player   Season  All Star
0       LeBron James  2008-09      True
1       LeBron James  2012-13      True
2       Kevin Durant  2013-14      True
3       Kevin Durant  2012-13      True
4       LeBron James  2009-10      True
..               ...      ...       ...
595   Deron Williams  2011-12      True
596    Tracy McGrady  2005-06      True
597    Julius Randle  2023-24      True
598  Anthony Edwards  2022-23      True
599  Jermaine O'Neal  2004-05      True

[600 rows x 3 columns]

In [31]:
players

,Rk,Player,WS,MP/G,Season,Age,Team,G,GS,AS,...,PF,PTS,FG%,2P%,3P%,FT%,TS%,eFG%,Pos,-9999
0,1,LeBron James,20.3,37.7,2008-09,24,CLE,81,81,1,...,1.7,28.4,0.489,0.535,0.344,0.780,0.591,53.007,F-G,jamesle01
1,2,LeBron James,19.3,37.9,2012-13,28,MIA,76,76,1,...,1.4,26.8,0.565,0.602,0.406,0.753,0.640,60.303,F-G,jamesle01
2,3,Kevin Durant,19.2,38.5,2013-14,25,OKC,81,81,1,...,2.1,32.0,0.503,0.549,0.391,0.873,0.635,55.983,F-G,duranke01
3,4,Kevin Durant,18.9,38.5,2012-13,24,OKC,81,81,1,...,1.8,28.1,0.510,0.539,0.416,0.905,0.647,55.862,F-G,duranke01
4,5,LeBron James,18.5,39.0,2009-10,25,CLE,76,76,1,...,1.6,29.7,0.503,0.560,0.333,0.767,0.604,54.483,F-G,jamesle01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Stephon Marbury,-0.3,18.0,2008-09,31,BOS,23,4,0,...,1.5,3.8,0.342,0.372,0.240,0.462,0.377,36.937,G,marbust01
9996,9997,Art Long,-0.3,8.1,2002-03,30,PHITOR,26,0,0,...,1.3,2.3,0.373,0.361,0.667,0.200,0.378,38.667,F-C,longar01
9997,9998,Jamaal Tinsley,-0.3,15.5,2009-10,31,MEM,38,1,0,...,1.8,3.5,0.371,0.446,0.179,0.815,0.438,39.643,G,tinslja01
9998,9999,Eddy Curry,-0.3,8.9,2009-10,27,NYK,7,0,0,...,1.9,3.7,0.381,0.381,NaN,0.588,0.456,38.095,C,curryed01
9999,10000,Evan Turner,-0.3,13.2,2019-20,31,ATL,19,0,0,...,1.1,3.3,0.373,0.403,0.000,0.857,0.424,37.313,G,turneev01

In [29]:
all_stars = all_stars[['Player', 'Season']]
all_stars['All Star'] = True
all_stars

/var/folders/yj/rwz2nz615t76n6wxvqtw5mcc0000gn/T/ipykernel_34327/151180072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_stars['All Star'] = True

              Player   Season  All Star
0       LeBron James  2008-09      True
1       LeBron James  2012-13      True
2       Kevin Durant  2013-14      True
3       Kevin Durant  2012-13      True
4       LeBron James  2009-10      True
..               ...      ...       ...
595   Deron Williams  2011-12      True
596    Tracy McGrady  2005-06      True
597    Julius Randle  2023-24      True
598  Anthony Edwards  2022-23      True
599  Jermaine O'Neal  2004-05      True

[600 rows x 3 columns]

In [32]:
df = pd.merge(players, all_stars, on=['Player', 'Season'], how='outer')

In [38]:
df['All Star'] = df['All Star'].fillna(False)

In [39]:
df

,Rk,Player,WS,MP/G,Season,Age,Team,G,GS,AS,...,PTS,FG%,2P%,3P%,FT%,TS%,eFG%,Pos,-9999,All Star
0,1,LeBron James,20.3,37.7,2008-09,24,CLE,81,81,1,...,28.4,0.489,0.535,0.344,0.780,0.591,53.007,F-G,jamesle01,True
1,2,LeBron James,19.3,37.9,2012-13,28,MIA,76,76,1,...,26.8,0.565,0.602,0.406,0.753,0.640,60.303,F-G,jamesle01,True
2,3,Kevin Durant,19.2,38.5,2013-14,25,OKC,81,81,1,...,32.0,0.503,0.549,0.391,0.873,0.635,55.983,F-G,duranke01,True
3,4,Kevin Durant,18.9,38.5,2012-13,24,OKC,81,81,1,...,28.1,0.510,0.539,0.416,0.905,0.647,55.862,F-G,duranke01,True
4,5,LeBron James,18.5,39.0,2009-10,25,CLE,76,76,1,...,29.7,0.503,0.560,0.333,0.767,0.604,54.483,F-G,jamesle01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Stephon Marbury,-0.3,18.0,2008-09,31,BOS,23,4,0,...,3.8,0.342,0.372,0.240,0.462,0.377,36.937,G,marbust01,False
9996,9997,Art Long,-0.3,8.1,2002-03,30,PHITOR,26,0,0,...,2.3,0.373,0.361,0.667,0.200,0.378,38.667,F-C,longar01,False
9997,9998,Jamaal Tinsley,-0.3,15.5,2009-10,31,MEM,38,1,0,...,3.5,0.371,0.446,0.179,0.815,0.438,39.643,G,tinslja01,False
9998,9999,Eddy Curry,-0.3,8.9,2009-10,27,NYK,7,0,0,...,3.7,0.381,0.381,NaN,0.588,0.456,38.095,C,curryed01,False
9999,10000,Evan Turner,-0.3,13.2,2019-20,31,ATL,19,0,0,...,3.3,0.373,0.403,0.000,0.857,0.424,37.313,G,turneev01,False

In [40]:
df.to_csv('data/external/player_stats_short.csv')