In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/interim/player_data_aggregated.csv')

In [3]:
df.head()

,Unnamed: 0,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,0,31137,2024,5026,A.J. Lawson,NaN,SG,23,2,NBA,...,aj_lawson,2022.0,2023.0,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
1,1,30459,2023,5026,A.J. Lawson,NaN,SG,22,1,NBA,...,aj_lawson,2022.0,2023.0,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
2,2,30460,2023,5026,A.J. Lawson,NaN,SG,22,1,NBA,...,aj_lawson,2022.0,2023.0,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
3,3,30461,2023,5026,A.J. Lawson,NaN,SG,22,1,NBA,...,aj_lawson,2022.0,2023.0,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
4,4,31138,2024,5027,AJ Griffin,NaN,SF,20,2,NBA,...,aj_griffin,2022.0,2023.0,N,Y,Y,2022,1,16,N

In [5]:
df.describe()

,Unnamed: 0,seas_id,season,player_id,birth_year,age,experience,g,gs,mp,...,dbpm,bpm,vorp,person_id,weight,season_exp,jersey,team_id,from_year,to_year
count,13549.000000,13549.000000,13549.000000,13549.000000,362.000000,13549.000000,13549.000000,13549.00000,13549.000000,13549.000000,...,13549.000000,13549.000000,13549.000000,1.354900e+04,13255.000000,13549.000000,10185.000000,1.354900e+04,13544.000000,13544.000000
mean,6774.000000,23333.401875,2011.118607,3658.295889,1979.096685,26.760425,5.708392,45.42660,21.872832,1064.020740,...,-0.209565,-1.924718,0.513322,3.764717e+05,220.521690,9.539154,20.591360,1.217499e+09,2005.134672,2013.814087
std,3911.403734,4857.943428,8.195232,682.822117,8.942044,4.284056,4.063880,26.16518,27.184617,877.500634,...,1.960269,10.054201,1.216888,6.137056e+05,27.379115,4.927796,18.003533,6.918459e+08,9.548913,8.101967
min,0.000000,15086.000000,1997.000000,1723.000000,1957.000000,18.000000,1.000000,1.00000,0.000000,0.000000,...,-31.100000,-1000.000000,-2.600000,2.000000e+00,133.000000,0.000000,0.000000,0.000000e+00,1949.000000,1952.000000
25%,3387.000000,19067.000000,2004.000000,3116.000000,1975.000000,23.000000,2.000000,22.00000,0.000000,265.000000,...,-1.100000,-3.600000,-0.100000,1.714000e+03,200.000000,5.000000,7.000000,1.610613e+09,1998.000000,2008.000000
50%,6774.000000,23331.000000,2011.000000,3636.000000,1980.000000,26.000000,5.000000,48.00000,7.000000,874.000000,...,-0.200000,-1.500000,0.000000,1.011620e+05,220.000000,10.000000,16.000000,1.610613e+09,2005.000000,2015.000000
75%,10161.000000,27541.000000,2018.000000,4180.000000,1986.000000,30.000000,8.000000,70.00000,40.000000,1742.000000,...,0.700000,0.400000,0.700000,2.034820e+05,240.000000,13.000000,31.000000,1.610613e+09,2013.000000,2021.000000
max,13548.000000,31870.000000,2024.000000,5191.000000,2002.000000,44.000000,21.000000,85.00000,83.000000,3485.000000,...,60.700000,242.200000,11.800000,1.631338e+06,360.000000,22.000000,99.000000,1.610613e+09,2022.000000,2023.000000

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13549 entries, 0 to 13548
Data columns (total 111 columns):
 #    Column                            Dtype
---   ------                            -----
 0    Unnamed: 0                        int64
 1    seas_id                           int64
 2    season                            int64
 3    player_id                         int64
 4    player                            object
 5    birth_year                        float64
 6    pos                               object
 7    age                               int64
 8    experience                        int64
 9    lg                                object
 10   tm                                object
 11   g                                 int64
 12   gs                                float64
 13   mp                                int64
 14   fg_per_100_poss                   float64
 15   fga_per_100_poss                  float64
 16   fg_percent                        float64
 17   x3p_per_100_poss                  float64
 18   x3pa_per_100_poss                 float64
 19   x3p_percent                       float64
 20   x2p_per_100_poss                  float64
 21   x2pa_per_100_poss                 float64
 22   x2p_percent                       float64
 23   ft_per_100_poss                   float64
 24   fta_per_100_poss                  float64
 25   ft_percent                        float64
 26   orb_per_100_poss                  float64
 27   drb_per_100_poss                  float64
 28   trb_per_100_poss                  float64
 29   ast_per_100_poss                  float64
 30   stl_per_100_poss                  float64
 31   blk_per_100_poss                  float64
 32   tov_per_100_poss                  float64
 33   pf_per_100_poss                   float64
 34   pts_per_100_poss                  float64
 35   o_rtg                             float64
 36   d_rtg                             float64
 37   avg_dist_fga                      float64
 38   percent_fga_from_x2p_range        float64
 39   percent_fga_from_x0_3_range       float64
 40   percent_fga_from_x3_10_range      float64
 41   percent_fga_from_x10_16_range     float64
 42   percent_fga_from_x16_3p_range     float64
 43   percent_fga_from_x3p_range        float64
 44   fg_percent_from_x2p_range         float64
 45   fg_percent_from_x0_3_range        float64
 46   fg_percent_from_x3_10_range       float64
 47   fg_percent_from_x10_16_range      float64
 48   fg_percent_from_x16_3p_range      float64
 49   fg_percent_from_x3p_range         float64
 50   percent_assisted_x2p_fg           float64
 51   percent_assisted_x3p_fg           float64
 52   percent_dunks_of_fga              float64
 53   num_of_dunks                      int64
 54   percent_corner_3s_of_3pa          float64
 55   corner_3_point_percent            float64
 56   num_heaves_attempted              int64
 57   num_heaves_made                   int64
 58   per                               float64
 59   ts_percent                        float64
 60   x3p_ar                            float64
 61   f_tr                              float64
 62   orb_percent                       float64
 63   drb_percent                       float64
 64   trb_percent                       float64
 65   ast_percent                       float64
 66   stl_percent                       float64
 67   blk_percent                       float64
 68   tov_percent                       float64
 69   usg_percent                       float64
 70   ows                               float64
 71   dws                               float64
 72   ws                                float64
 73   ws_48                             float64
 74   obpm                              float64
 75   dbpm                              float64
 76   bpm                               float64
 77   vorp                              float64
 78   person_id                         int64
 79   first_name                        object
 80   last_name                         object
 81   display_first_last                object
 82   display_last_comma_first          object
 83   display_fi_last                   object
 84   player_slug                       object
 85   birthdate                         object
 86   school                            object
 87   country                           object
 88   last_affiliation                  object
 89   height                            object
 90   weight                            float64
 91   season_exp                        float64
 92   jersey                            float64
 93   position                          object
 94   rosterstatus                      object
 95   games_played_current_season_flag  object
 96   team_id                           int64
 97   team_name                         object
 98   team_abbreviation                 object
 99   team_code                         object
 100  team_city                         object
 101  playercode                        object
 102  from_year                         float64
 103  to_year                           float64
 104  dleague_flag                      object
 105  nba_flag                          object
 106  games_played_flag                 object
 107  draft_year                        object
 108  draft_round                       object
 109  draft_number                      object
 110  greatest_75_flag                  object
dtypes: float64(68), int64(13), object(30)
memory usage: 11.5+ MB